<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tambah Daftar Belanjaan</title>
  
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav justify-content-center mt-3 mb-3">
          <a href="/" class="nav-link">Home</a>
          <a href="/list" class="nav-link">List</a>
        </nav>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-lg">
          <div class="card-header">
            Edit daftar belanjaan
          </div>
          <div class="card-body">
            <form action="/update/<%= item.id %>" method="post">
              <div class="form-group">
                <input type="text" name="itemName" value="<%= item.name %>" class="form-control" required="true" autofocus>
              </div>
              <button class="btn btn-info">Simpan</button>
              <a href="/list" class="btn btn-outline-dark">Kembali</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
</html>