<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav justify-content-center mt-3 mb-3">
          <a href="/" class="nav-link">Home</a>
          <a href="/list" class="nav-link">List</a>
        </nav>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="alert alert-info p-5">
          <h2 class="text-center">Aplikasi Daftar Belanjaan</h2>
        </div>
      </div>
    </div>
  </div>

</body>
</html>